[submodule "external/L.Cadastre"]
	path = external/L.Cadastre
	url = git@github.com:OriginalSin/L.Cadastre.git
[submodule "external/Leaflet-GeoMixer"]
	path = external/Leaflet-GeoMixer
	url = git@github.com:ScanEx/Leaflet-GeoMixer.git
[submodule "external/gmxControls"]
	path = external/gmxControls
	url = git@github.com:ScanEx/gmxControls.git
[submodule "external/gmxDrawing"]
	path = external/gmxDrawing
	url = git@github.com:ScanEx/gmxDrawing.git
[submodule "external/leaflet-plugins"]
	path = external/leaflet-plugins
	url = git@github.com:OriginalSin/leaflet-plugins.git
[submodule "external/L.ImageOverlay.Pane"]
	path = external/L.ImageOverlay.Pane
	url = git@github.com:ScanEx/L.ImageOverlay.Pane.git
[submodule "external/L.AdSense"]
	path = external/L.AdSense
	url = git@github.com:OriginalSin/L.AdSense.git
